In [14]:
def n():
    n=68
    if n==n:
        print(n)
n()

68

In [17]:
def num(n):
    if n==0 :
        print("your lucky num is zero ",n)
    elif n<0 :
        print("your lucky num is negative ",n)
    else:
        print("your lucky num  is positive ",n)
num(8)

your lucky num  is positive  8

In [23]:
def lucky(n) :
    if n>0:
        print("my lucky number is ", n)
lucky(6)

my lucky number is  6

In [25]:
def restaurant(Restaurant_name):
    print(Restaurant_name)
    Veg_menu = [ "veg manchuriya", "Paneer butter masala"," Paneer Tikka", "meal maker","Veg Biriyani", "guttivankaya Pulav","Allu capsicums","Paneer Biriyani"]
    Non_veg_menu = [ "Mutton gosh","paya soup","Egg bujji","Fish fry","butter chicken","Prawns pullav","Thandhoory chicken","chicken cola purry","Country side chicken","chicken Biriyani"]
    Item_name = input()
    if Item_name in Veg_menu:
        print("ok your order is noted, please wait few mins we will serve it.")
    elif Item_name in Non_veg_menu:
        print("ok your order is noted, please wait few mins we will serve it.")
    else:
        print("sry, we don't have the item",Item_name)
restaurant("Vamsi Restaurant")

Vamsi Restaurant

 egg

sry, we don't have the item egg

In [27]:
def grading(n,name):
#name = input()
    if n>50 and n<60 :
        f_s1= f"{name} got {n} marks,So {name} get grade D."  
        print(f_s1)
    elif n>60 and n<70 :
        f_s2= f"{name} got {n} marks,So {name} get grade C." 
        print(f_s2)
    elif n>70 and n<80 :
        f_s3= f"{name} got {n} marks,So {name} get grade B." 
        print(f_s3)
    elif n>80 and n<90 :
        f_s4= f"{name} got {n} marks,So {name} get grade A."
        print(f_s4)
    elif n>90 and n<=100:
        f_s5= f"{name} got {n} marks,So {name} get grade A+."
        print(f_s5)
    else :
        print(f"{name} got {n} marks,So {name} failed in the exam")
grading(58,"Suppu")

Suppu got 58 marks,So Suppu get grade D.

In [33]:
def Course_cabine(stud_course):
    Course_name_cabine={"Data Science" : 1, "Data Analyst" : 2, "Bussiness analyst" : 3,"Java Fullstack " : 4,"Python Fullstack" : 5}
    if stud_course in Course_name_cabine:
        print("Your Cabine number is",Course_name_cabine.get(stud_course))
    else:
        print("this course is not conducted today")
Course_cabine("Data Science")

Your Cabine number is 1

In [37]:
def even(n):
    if n%2==0:
        print(f"{n} is even number")
    else: 
        print(f"{n} is odd number")
even(4536)

4536 is even number

In [39]:
def fibonnaci(n):
    n1=0
    print(n1)
    n2=1
    print(n2)
    for i in range(2,n):
        n3=n1+n2
        n1=n2
        n2=n3
        print(n3)
fibonnaci(6)

0
1
1
2
3
5

In [41]:
def leap_year(n):
    if  n%400==0  :
        print(f"{n} is Leap year")
    elif n%4==0 and n%100!=0:
        print(f"{n} is Leap year")
    else:
        print(f"{n} is not a leap year")
leap_year(2012)

2012 is Leap year

In [45]:
def Vowels_or_not(char):
    vowels = ['a','e','i','o','u','A','E','I','O','U']
    if char in vowels:
        print(f"{char} is vowel")
    else: 
        print(f"{char} is consonant")
Vowels_or_not("h")

h is consonant

In [47]:
def find_large_num(n,n1,n2):
    if n>n1 and n>n2:
        print(f"{n} is larger number")
    elif n1>n and n1>n2:
        print(f"{n1} is larger number")
    else:
        print(f"{n2} is larger number")
find_large_num(34,23,789)

789 is larger number

In [49]:
def Triangles(a,b,c):
    if a==b==c:
        print("given sides form a equilateral triangle")
    elif a+b==c:
        print("given sides form a right angle triangle")
    else:
        print("given sides form a Scalene triangle")
Triangles(3,4,5)

given sides form a Scalene triangle

In [51]:
def job_selection():
    Candidate_names = {"rakesh":68 ,"radha":80,"Sindhu":67 , "lasya": 78,"karthik":59,"chitti": 45,"Deepu":78}
    for name,per in Candidate_names.items():
        if per >= 75  and per<=90:
            print(f"{name} got selected")
        elif per <= 60 and per>=50 :
            pass
        else: 
            print(f"{name} got rejected")
job_selection()

rakesh got rejected
radha got selected
Sindhu got rejected
lasya got selected
chitti got rejected
Deepu got selected